/*  your css code here. If applicable */
.contain {
    background-color: #444;
    padding: 20px;
}
#photo-heading {
    text-align: center;
    color: white;
    text-transform:uppercase;
}
img {
    width: 32%;
    border-radius: 20px;
    padding: 2px;
}