#photo-heading{
	text-align:center;
	color:white;
	text-transform:uppercase;
}
img {
    width: 32%;
    border-radius: 20px;
    padding: 2px;
}
/* 3 */
.contain {
    background-color: #444;
    padding: 20px;
}

